body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

html, body {
  font: 400 16px / 1.5 'Varela Round', 'Gotham Rounded', Nunito, Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(9, 9, 9, 1);
  background-color: rgba(243, 245, 248, 1);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

li > {
  ul, ol {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: rgba(37, 255, 168, 1);
  text-decoration: none;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
  &:visited {
    color: rgba(0, 191, 175, 1);
  }
  &:hover {
    color: black;
  }
}

.wrapper {
  padding: 30px;
}

@media screen and (max-width: 840px) {
  .wrapper {
    max-width: -webkit-calc(840px - (30px));
    max-width: calc(840px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

.site-title {
  background: #DCE0E3 url('/images/mike-dennler-173199.jpg') no-repeat center center;
  background-size: cover;
  height: auto;
  padding-top: 60px;
  padding-bottom: 200px;
  text-align: center;
  text-rendering: optimizeLegibility;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  transition: opacity 1s ease-in-out;

  h1 {
    font-size: 40px;
    letter-spacing: 8px;
    line-height: 0.75em;
    margin: 10px;
    animation: fadeInDown 1s;
    animation-fill-mode: both;

    span {
      font-size: 20px;
      letter-spacing: -0.5px;
      color: #a1a9b0;
      display: inline-block;
    }
  }
  p {
    letter-spacing: 1px;
    animation: fadeInUp 1s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }
}

.site-description {
  margin-top: 40px;
  max-width: 800px;
  margin: 0 auto;
  animation: fadeInLeft 1s;
  animation-fill-mode: both;

  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #353535;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }
  p {
    color: #8c9398;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
  }
}

.buttons {
  margin-top: 40px;
  margin: 0 auto;
}

.available-pieces {
  animation: fadeInRight 1s;
  animation-fill-mode: both;
  display: grid;
  grid-column-gap: 0.5vw;
  grid-row-gap: 0.5vw;
  grid-template-columns: 1fr 1fr 1fr;

  li {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 64px;
    background: transparent;
    border-radius: 3px;
    transition: all 0.1s ease-in;
    &:hover {
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
    }
    input[type="range"] {
      z-index: 9;
    }
    input[type="color"] {
      height: 100%;
      width: 100%;
      position: absolute;
      border: 0;
      outline: 0;
      background-color: transparent;
      -webkit-appearance: none;
      padding: 0;
      display: block;
      margin: 0;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
}

a.download,
button.save {
  -webkit-appearance: none !important;
  background: rgba(37, 255, 168, 1);
  border-radius: 5px;
  border: 0;
  box-shadow: 0px 3px 0px 0px #309383;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 60px auto 0 auto;
  outline: 0;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: 0.15s all;
  width: 50%;
  min-width: 300px;
  text-align: center;

  &:active, &:hover, &:focus {
    background: rgba(37, 255, 168, 0.85);
    box-shadow: 0px 2px 0px 0px #309383;
    color: #fff;
    outline: 0;
  }
  &:active {
    box-shadow: 0px 1px 0px 0px #309383;
    outline: 0;
  }
}

.available-pieces > li > span {
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4), -1px -1px 3px rgba(255, 255, 255, 0.4);
  z-index: 9;
}

@media all and (max-width: 1100px) {
  .available-pieces {
    margin: inherit;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .available-pieces {
    margin: inherit;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 550px) {
  .available-pieces {
    margin: inherit;
    grid-template-columns: 1fr;
  }
}

// Footer
.site-footer {
  background-color: #242830;
  color: #fff;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.contact-list, .social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  margin-left: -15px;
  display: flex;
}

.footer-content {
  font-weight: 400;
  letter-spacing: 1px;
}

.footer-col {
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}

.footer-col-2 {
  width: -webkit-calc(65% - (30px / 2));
  width: calc(65% - (30px / 2));
}

@media screen and (max-width: 840px) {
  .footer-col-1, .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }
}

@media screen and (max-width: 600px) {
  .footer-col-wrapper {
    display: block;
  }
  .footer-col {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}

// From Animate.css - http://daneden.me/animate
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
